div.main {
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.btn,
.btn-warning,
.btn-primary {
  width: 170px;
  margin: 10px;
  border: 2px;
}

.input {
  display: flex;
  flex-direction: row;
}

section.table-wrapper {
  width: 100%;
}
